/*********************************
3.3 Main Navigation
*********************************/

.main_nav {
  width: 100%;
  border-top: solid 1px #f2f2f2;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
}

.header.scrolled .main_nav {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}

.main_nav_content {
  width: 100%;
  height: 60px;
}

.cat_menu_container {
  width: 293px;
  height: 100%;
  background: #0e8ce4;
  padding-left: 35px;
  cursor: pointer;
  z-index: 1;
}

.cat_menu_title {
  height: 100%;
}

.cat_burger {
  width: 18px;
  height: 14px;
  span {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    &:nth-child(2) {
      top: 6px;
    }
    &:nth-child(3) {
      top: 12px;
    }
  }
}

.cat_menu_text {
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-left: 20px;
}

.cat_menu_container {
  ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    z-index: 30;
    max-height: 400px;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -ms-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: all 0.3s ease;
  }
  > ul {
    padding-top: 13px;
  }
  &:hover .cat_menu {
    visibility: visible;
    opacity: 1;
  }
}

.cat_menu li {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  border-bottom: solid 1px #f2f2f2;
  padding-left: 35px;
  padding-right: 30px;
  white-space: nowrap;
  &.hassubs > a i {
    display: block;
  }
  a {
    white-space: pre-line !important;
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    line-height: 46px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover {
      color: #0e8ce4;
    }
    i {
      display: none;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      right: 0;
      font-size: 12px;
    }
  }
  ul {
    display: block;
    position: absolute;
    top: 35px;
    left: 100%;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
  }
  &:hover > ul {
    top: 0;
    visibility: visible;
    opacity: 1;
  }
}

.main_nav_dropdown li {
  margin-right: 35px;
  &:last-child {
    margin-right: 0px !important;
  }
  a {
    font-size: 18px !important;
    font-weight: 400 !important;
    color: #a19a9a !important;
    line-height: 60px !important;
  }
  li {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 0px;
  }
}

.menu_trigger_container {
  display: none;
  width: auto;
  height: 100%;
  padding-right: 25px;
  padding-left: 25px;
  cursor: pointer;
}

.menu_trigger {
  height: 100%;
}

.menu_burger_inner {
  display: inline-block;
}

.menu_trigger_text {
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-right: 16px;
}

/*********************************
3.4 Page Menu
*********************************/

.page_menu {
  margin-top: 15px;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.page_menu_content {
  height: 0px;
  background: #0e8ce4;
  padding-left: 15px;
  padding-right: 15px;
  overflow: hidden;
}

.page_menu_search {
  display: none;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.page_menu_search_input {
  width: 100%;
  height: 40px;
  background: #FFFFFF;
  border: none;
  outline: none;
  padding-left: 25px;
}

.page_menu_item {
  display: block;
  position: relative;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  vertical-align: middle;
  > a {
    display: block;
    color: #FFFFFF;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover {
      color: #b5aec4;
    }
  }
  a i {
    display: none;
    margin-left: 8px;
  }
  &.has-children > a > i {
    display: inline-block;
  }
}

.page_menu_selection {
  margin: 0;
  width: 100%;
  height: 0px;
  overflow: hidden;
  z-index: 1;
  li {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 50px;
    a {
      display: block;
      color: #FFFFFF;
      border-bottom: solid 1px rgba(255, 255, 255, 0.1);
      font-size: 14px;
      text-transform: uppercase;
      -webkit-transition: opacity 0.3s ease;
      -moz-transition: opacity 0.3s ease;
      -ms-transition: opacity 0.3s ease;
      -o-transition: opacity 0.3s ease;
      transition: all 0.3s ease;
      &:hover {
        color: #b5aec4;
      }
    }
    &:last-child a {
      border-bottom: none;
    }
  }
}

.menu_contact_item {
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 56px;
  margin-right: 40px;
  color: #FFFFFF;
  &:not(:first-child) {
    margin-right: 0px;
  }
  a {
    font-size: 12px;
    font-weight: 300;
    line-height: 56px;
    color: #FFFFFF;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    &:hover {
      color: #8a8a8a;
    }
  }
  &:last-child {
    margin-right: 0px;
  }
}

.menu_contact_icon {
  display: inline-block;
  margin-right: 14px;
  -webkit-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  transform: translateY(-2px);
}
