<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Final assignment project{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}Body of final assigment{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
